<!DOCTYPE html>
<%
   const WEEK_DAYS = constants.WEEK_DAYS;
   const MONTHES = constants.MONTHES;
   const WEEK_LENGTH = WEEK_DAYS.length;
   const year = date.getFullYear();
   const month = date.getMonth();
   const today = date.getDate();
   const weekDay = date.getDay();
   date.setDate(1);
%>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<center>
    <table border=1 cellspacing=0 cellpadding=0 bordercolor=ccccccc>
        <tr>
            <td>
                <center>
                    <table border=0 cellspacing=0 cellpadding=0 bgcolor=ccccccc>
                        <tr>
                            <td colspan=<%=WEEK_LENGTH%> bgcolor="#EFEFEF">
                                <center><b><%=MONTHES[month]%>,&nbsp;<%=year%></b></center>
                            </td>
                        </tr>
                        <tr>
                            <%for(var i=0; i < WEEK_LENGTH; i++)
                            {
                            if(weekDay == i && curMonth){%>
                            <td><b><%=WEEK_DAYS[i]%></b></td>
                            <%}else{%>
                            <td><%= WEEK_DAYS[i]%></td>
                            <%}
                            }%>
                        </tr><tr>
                            <%for(var i=0; i < date.getDay(); i++)
                            {%>
                            <td>&nbsp;</td>
                            <%}
                            var i = 0;
                            var foundEvent;
                            const evtLength = monthEvents.length;
                            while(date.getDate()>i)
                            {
                                i++;
                                foundEvent = false;
                                if(date.getDay() == 0){%><tr><%}
                                for(var j = 0; j<evtLength; j++)
                                {
                                    if(monthEvents[j].date==date.getDate())
                                    {
                                        foundEvent = true;
                                        //no need more events
                                        break;
                                    }
                                }
                                if( today == date.getDate() && curMonth){%>
                                   <td bgcolor="ffff00"><center><b><a href="/day/<%-date.getDate()%>/<%-date.getMonth()%>/<%-date.getFullYear()%>"><%=date.getDate()%></a></b>
                                       <%if(foundEvent){%> * <%}%>
                                       </center></td>
                              <%}else{%>
                                   <td><center><a href="/day/<%-date.getDate()%>/<%-date.getMonth()%>/<%-date.getFullYear()%>"><%=date.getDate()%></a>
                                           <%if(foundEvent){%> * <%}%>
                                       </center></td>
                              <%}
                               if(date.getDay() == WEEK_LENGTH){%></tr><%}
                               date.setDate(date.getDate()+1);
                            }
                            date.setMonth(month);
                        %>
                    </table>
                </center>
            </td>
        </tr>
    </table>
</center>
</body>
</html>
