<%layout('/layout/page');%>
<%block('title', title);%>

<div class="col-lg-offset-2 col-lg-10">
    <div class="col-lg-offset-2 col-lg-10">
        <a href="<%-back%>">BACK</a>

    </div>
    <center>
        <div class="col-lg-offset-2 col-lg-10">
            <form class="form-horizontal event-form" name="event-form" action="<%-action%>" method="POST" name="event-form">
                <div class="form-group">
                    <label for="input-eventname" class="col-lg-2 control-label">Title</label>

                    <div class="col-lg-10">
                        <input name="title" value="<%=event.title%>" type="text" class="form-control" id="input-title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-eventdesc" class="col-lg-2 control-label">Description</label>

                    <div class="col-lg-10">
                        <input name="description" value="<%=event.description%>" type="text" class="form-control" id="input-desc" >
                    </div>
                </div>
                <div class="form-group">
                <label class="btn btn-primary active">
                    <input type="checkbox" checked autocomplete="off"> All-day
                </label>
                </div>
                <div class="form-group">
                    <label for="input-start" class="col-lg-2 control-label">Starts</label>

                    <div class="col-lg-2">
                        <input name="starthh" value="<%-event.starthh%>" type="number"  min="0" max="24"  id="input-start-hh" >
                        :
                        <input name="startmm" value="<%-event.startmm%>" type="number"  min="0" max="59"  id="input-start-mm" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-end" class="col-lg-2 control-label">Ends</label>

                    <div class="col-lg-2">
                        <input name="endhh" value="<%-event.endhh%>" type="number"  min="0" max="24"  id="input-end-hh" >
                        :
                        <input name="endmm" value="<%-event.endmm%>" type="number"  min="0" max="59"  id="input-end-mm" >
                    </div>
                </div>
                <input type='hidden' name='id' value="<%-event.id%>"/>
                <input type='hidden' name='year' value="<%-event.year%>" />
                <input type='hidden' name='month' value="<%=event.month%>" />
                <input type='hidden' name='date' value="<%=event.date%>"/>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary" data-loading-text="Saving..." value="">Save</button>
                        <button type="button" class="btn btn-primary" data-loading-text="Deleting..." value="">Delete</button>
                        <span class="help-block error"></span>
                    </div>
                </div>
            </form>
        </div>
    </center>
</div>

